# this tmp magic is required
!tmp/
tmp/*
node_modules/
!tmp/pids/
tmp/pids/*
!tmp/pids/.keep
*.pyc
.idea
log/*.log
venv
*.swp
!log/.keep
generated_reports/*
!generated_reports/.keep
*.swo
static/db_schema/*.png
!static/db_schema/.keep
mdb2postgres/*
mdb2postgres/.keep
*.xml
codestyles/