extends ../head2

block body
    div.robust-content.content.container-fluid
      div.content-wrapper
        div.content-header.row
          div(class="content-header-left col-md-6 col-xs-12")
            h3(class="content-header-title mb-0") База данных "#{db.title}"
          div(class="content-header-lead col-xs-12 mt-1")
        .content-body
                .row
                    .col-sm-6
                        .card
                            .card-header
                                h4.card-title Информация
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    .row
                                        .table-responsive
                                            table.table.table-borderless
                                                tbody
                                                    tr
                                                      td Название:
                                                      td #{db.title}
                                                    tr
                                                      td Описание:
                                                      td #{db.description}


                    .col-sm-6
                        .card
                            .card-header
                                 h4.card-title.no-capitalize Схема базы данных

                                 .heading-elements
                                     ul.list-inline.mb-0
                                         li
                                             a(data-action="expand")
                                                 i.icon-expand2
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    #db_schema_div.text-xs-center
                                        i.fa.fa-spin.fa-spinner
                                        &nbsp; Подождите...

block append footer
    script.
        var db_id = '#{db.id}';

    script(src="/robust-assets/js/components/modal/components-modal.js" type="text/javascript")

    script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")

    script(src="/robust-assets/js/components/forms/validation/form-validation.js" type="text/javascript")
    
    script(src="/js/pages/databases/show.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/datatable/dataTables.buttons.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/datatable/buttons.bootstrap4.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/jszip.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/pdfmake.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/vfs_fonts.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/buttons.html5.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/buttons.print.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/tables/buttons.colVis.min.js" type="text/javascript")

    //script(src="/robust-assets/js/components/tables/datatables-extensions/datatable-button/datatable-button-basic.js" type="text/javascript")

  
