if (dbs.length === 0)
    p.text-muted.mt-2.text-xs-center Нет записей
else
    table.table.table-striped.table-bordered.zero-configuration
        thead
            tr
                th Название
                th Примечание
                th Тип
                th.text-xs-right Управление
        tbody
            each db in dbs
                tr(data-id=db.id)
                    td #{db.title}
                    td
                        if (db.note)
                            =db.note
                        else
                            | -
                    td
                        if (db.type === "common")
                            .tag.tag-default Общий доступ
                        else if (db.type === "private")
                            .tag.tag-danger Персональный доступ
                        else if (db.type === "test")
                            .tag.tag-primary База для контрольных мероприятий
                        else if (db.type === "prepare")
                            .tag.tag.bg-info.bg-darken-2 Обучающая база данных для самостоятельной подготовки
                        else
                            | Не задан
                    td.text-xs-right
                        .btn-toolbar(role="toolbar")
                            a.btn.btn-icon.btn-outline-primary.btn-sm(style="min-width:3.5rem" href="/databases/" + db.id data-toggle="tooltip" title="Подробная информация")
                                i.icon-info2
                            button#schema.btn.btn-icon.btn-outline-info.btn-sm(style="min-width:3.5rem"  data-toggle="tooltip" title="Схема базы данных")
                                i.icon-sitemap
                            a.btn.btn-icon.btn-outline-success.btn-sm(style="min-width:3.5rem" href="/databases/tables_data/" + db.id data-toggle="tooltip" title="Данные таблиц")
                                //i.icon-database2
                                //i.icon-file-text-o
                                i.icon-table3
                            //button.btn#sql.btn-icon.btn-outline-warning.btn-sm(style="min-width:3.5rem"   data-toggle="tooltip" title="SQL запрос")
                                //i.icon-trash-o
                                i(style="font-weight:bold") SQL
                                //span.avatar.avatar-online
                                    img(src="img/sql.svg")
                            button#delete.btn.btn-icon.btn-outline-danger.btn-sm(style="min-width:3.5rem" data-toggle="tooltip" title="Удаление базы данных")
                                //i.icon-trash-o
                                i.icon-trash2


