.no-boder {
    border: 0px !important;
}

.bg-custom-blue-grey-1 {
    background-color: #2c4762 !important;
}

.bg-custom-blue-grey-2 {
    background-color: #1D2B36 !important;
}

.custom-bootbox > .modal-dialog > .modal-content > .modal-header {
    background-color: #1D2B36 !important;
    color: #FFFFFF !important;
}


.custom-bootbox > .modal-dialog > .modal-content > .modal-header > button.close {
    color: #FFFFFF !important;
}
.largeWidth {
    margin: 0 auto;
    width: 90%;
}

.largeWidth  > .modal-dialog  {
    max-width: 90% !important;
}

.largeWidth  > .modal-dialog > .modal-content {
    margin: 0 auto;
    width: 100% !important;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:focus {
    color: #02325a;
    text-decoration: none;
}

a:hover {
    color: #02325a;
    text-decoration: none;
}

.editable-container.editable-inline {
    display: inline; 
}

.editable-input {
    display: inline; 
}

.editableform .form-control {
    width: 100%;
}

.editableform div {
    width: 100%;
}

.editableform textarea {
    min-width: 400px;
}

.btn-in-table {
    padding: 0.2rem;
    min-width: 35px;
    min-height: 26px;
}
.editable-buttons {
    margin-top: 7px;
    margin-left: 0px;
}

.card-title {
    text-transform: none !important;
}

.form-group.validate input, .form-group.validate select, .form-group.validate textarea {
    color: #373a3c !important;
    border-color: #37BC9B;
}
