.no-boder {
    border: 0px !important;
}

.bg-custom-blue-grey-1 {
    background-color: #2c4762 !important;
}

.bg-custom-blue-grey-2 {
    background-color: #1D2B36 !important;
}

.custom-bootbox > .modal-dialog > .modal-content > .modal-header {
    background-color: #1D2B36 !important;
    color: #FFFFFF !important;
}


.custom-bootbox > .modal-dialog > .modal-content > .modal-header > button.close {
    color: #FFFFFF !important;
}
.largeWidth {
    margin: 0 auto;
    width: 90%;
}

.largeWidth  > .modal-dialog  {
    max-width: 90% !important;
}

.largeWidth  > .modal-dialog > .modal-content {
    margin: 0 auto;
    width: 100% !important;
}
