extends ../head

block body
    div#page-wrapper
        div#page-inner
            div.row
                div.col-md-10.col-md-offset-1
                    h1.page-header Вариант 3
            div.row
                div.col-md-10.col-md-offset-1
                    div.jumbotron
                        p Клиент имеет в банке счет и дебетовую карту, привязанную к этому счету. Дебетовая карта означает, что сначала надо полижить деньги на счет, а затем их тратить. 
                        p По карте можно снимать деньги со счета через собственные банкоматы банка, выпустившего карту и банкоматы других банков. Если деньги снимаются через банкоматы другого банка, то с клиента берется плата за услуги этого банка в размере 0.1% от снимаемой суммы. 
                        p Имеется ограничение на разовое снятие денег по банкомату. По счет у имеется неснимаемый остаток.
