extends ../head2

block body
    .robust-content.content.container-fluid
        .content-wrapper
            //.content-header.row
              .content-header-left.col-md-6.col-xs-12
                  h3.content-header-title.mb-0 Добавление нового контрольного мероприятия
            .content-body
                section
                    .row
                        .col-md-12.col-lg-6
                            .card
                                .card-header
                                    h4.card-title.no-capitalize Добавление нового контрольного мероприятия
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        //p.card-text.font-medium-1
                                            | Обратите внимание на то, что вопросы к обучающим и общим базам данных
                                            | доступны для студентов во время самостоятельной подготовки.
                                            | Вопросы к контрольным базам данных будут доступны студентам только во время выполнения контрольной работы.
                                            | Вопросы к персональным базам данных не будут доступны никому кроме вас

                                        form.form-horizontal#new_check_point(novalidate data-backdrop="static")
                                            .form-body
                                                .row
                                                    .col-md-6
                                                        .form-group
                                                            label(for="tag") Дата и время начала
                                                            input.form-control#start(name="start")
                                                    .col-md-6
                                                        .form-group
                                                            label(for="db_id") Дата и время окончания
                                                            input.form-control#end(name="end")
                                                            .help-block
                                                .row
                                                    .col-md-6
                                                        .form-group
                                                            label(for="title") Название
                                                            input.form-control#title(type="text" required name="title" aria-invalid="false" data-validation-required-message="Необходимо ввести название")
                                                            .help-block
                                                    .col-md-6
                                                        .form-group
                                                            label(for="query_type") Тип
                                                            select.form-control#type(name="type" required aria-invalid="false" data-validation-required-message="Необходимо выбрать тип")
                                                                option(value="")
                                                                option(value="test") Контрольная работа
                                                                option(value="exam") Экзамен
                                                                option(value="attestation") Зачет (Аттестация разделов)
                                                            .help-block
                                                .form-group
                                                    label Выберете группы
                                                    select#terminalSelect.select2.form-control(name="groups" required tabindex="-1" multiple="multiple" )
                                                      option(value="")
                                                      each group in groups
                                                          option(value="#{group.id}")= group.title


                                                .form-group
                                                    label(for="text") Дополнительное описание
                                                    textarea#description.form-control(rows="3" name="text" placeholder=""  aria-invalid="false")
                                                    .help-block
                                            .form-actions
                                                button#save.btn.btn-success.mr-1.float-xs-right(type="submit" )
                                                    //i.icon-check2
                                                    | Сохранить
                                                button#gen_test_cases_and_save.btn.btn-success.mr-1.float-xs-right(type="submit" style="display:none")
                                                    //i.icon-check2
                                                    | Сгенерировать варианты и сохранить



                        .col-md-12.col-lg-6
                            .card#settings_card(style="display:none")
                                .card-header
                                    h4.card-title.no-capitalize Настройки контрольной работы
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        form.form-horizontal#test_config(novalidate data-backdrop="static")
                                            .form-body
                                                .form-group(style="display:inline-block;width:auto")
                                                    label(for='time_limit' style="margin-right: 10px;") Ограничение по времени
                                                    input#time_limit.switchery.pull-right.no-uniform.form-control(name="time_limit" type="checkbox" data-size="xs"  style="margin-right: 10px;")
                                                .form-group(style="display:inline-block;width:auto")
                                                    input#minutes_amount.form-control(name="minutes_amount" disabled value="60" style="width:auto;display:inline-block;margin-right:10px;margin-left: 10px;")
                                                    label(for='minutes_amount' style="margin-right: 10px;") минут
                                                hr.mt-0
                                                p
                                                    b Генерация вариантов для контрольной работы
                                                .form-group.row
                                                    label.col-md-4(for="db_id") Количество вариантов
                                                    input.col-md-8.form-control#test_cases_amount(name="test_cases_amount" value="10" style="width:auto;display:inline-block;")
                                                    .help-block
                                                .form-group.row
                                                    label.col-md-4(for="db_id") Количество вопросов в одном варианте
                                                    input.col-md-8.form-control#questions_amount(name="questions_amount" value="5" style="width:auto;display:inline-block;")
                                                    .help-block
                                                .form-group.row
                                                    label.col-md-4(for="db_id") Средняя сложность
                                                    input.col-md-8.form-control#questions_amount(name="mean_complexity" value="3" style="width:auto;display:inline-block;")
                                                    .help-block
                                                .form-group(style="display:inline-block;width:auto")
                                                    label(for='manual-time-set' style="margin-right: 10px;") Вырианты без повторений вопросов
                                                    input#unique_questions.switchery.pull-right.no-uniform.form-control(name="unique_questions" type="checkbox" data-size="xs"  style="margin-right: 10px;")

                    .row
                        .col-md-12.col-lg-8
                            .card#select_questions_card(style="display:none")
                                .card-header
                                    h4.card-title.no-capitalize Выбор контрольных вопросов
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        p.card-text.font-medium-1
                                            | В данном списке представлены все контрольные вопросы.
                                            | Каждый контрольный вопрос имеет определенный тип: вопрос по реляционной алгебре или по исчислению на кортежах.
                                            | Также каждый вопрос относится к определенной базе данных, название которой оторажается в таблице.

                                        .row
                                            .col-md-10
                                                fieldset
                                                    .input-group
                                                        input(type="text" class="form-control" placeholder="Поиск по названию" aria-label="Amount")
                                                        span.input-group-btn
                                                            button.btn.btn-tumblr(type="button")
                                                                i.icon-search5 
                                                                | Поиск
                                        .row.mt-2
                                            #questions_table.col-md-12
                                                //include ./../parts/pagination
                        .col-md-12.col-lg-4
                            .card#selected_questions_card(style="display:none")
                                .card-header
                                    h4.card-title.no-capitalize Отобранные контрольные вопросы
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        p.card-text.font-medium-1
                                            | В данном блоке отображены контрольные вопросы, отобранные для формирования вариантов для данной контрольной работы.
                                        #selected_questions_list_block
                                            ul#selected_questions_list.list-group.list



block append footer
    if (question)
        script.
            var question = !{JSON.stringify(question)};
    else
        script.
            var question = false;

    //script(src="/robust-assets/js/components/modal/components-modal.js" type="text/javascript")

    //script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")
    ////script(src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")

    //script( src="/robust-assets/js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript")
    //script( src="/robust-assets/js/plugins/tables/jsgrid/jsgrid.min.js" type="text/javascript")
    //script( src="/robust-assets/js/plugins/tables/jsgrid/griddata.js" type="text/javascript")
    //script( src="/robust-assets/js/plugins/tables/jsgrid/jquery.validate.min.js" type="text/javascript")


    script(src="/js/pages/check_points/add.js" type="text/javascript")

