extends ../head2

block body
    .robust-content.content.container-fluid
        .content-wrapper
            .content-body
                section
                    .row
                        .col-md-12.col-lg-6
                            .card
                                .card-header
                                    h4.card-title.no-capitalize Добавление нового контрольного мероприятия
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        //p.card-text.font-medium-1
                                            | Обратите внимание на то, что вопросы к обучающим и общим базам данных
                                            | доступны для студентов во время самостоятельной подготовки.
                                            | Вопросы к контрольным базам данных будут доступны студентам только во время выполнения контрольной работы.
                                            | Вопросы к персональным базам данных не будут доступны никому кроме вас

                                        form.form-horizontal#new_check_point(novalidate data-backdrop="static")
                                            .form-body
                                                .row
                                                    .col-md-6
                                                        .form-group
                                                            label(for="start") Дата и время начала
                                                            input.form-control#start(name="start")
                                                    .col-md-6
                                                        .form-group
                                                            label(for="end") Дата и время окончания
                                                            input.form-control#end(name="end")
                                                            .help-block
                                                .row
                                                    .col-md-6
                                                        .form-group
                                                            label(for="title") Название
                                                            input.form-control#title(type="text" required name="title" aria-invalid="false" data-validation-required-message="Необходимо ввести название")
                                                            .help-block
                                                    .col-md-6
                                                        .form-group
                                                            label(for="query_type") Тип
                                                            select.form-control#type(name="type" required aria-invalid="false" data-validation-required-message="Необходимо выбрать тип")
                                                                option(value="")
                                                                option(value="RA") Контрольная работа (алгебра)
                                                                option(value="TC") Контрольная работа (кортежи)
                                                                option(value="test") Контрольная работа
                                                                option(value="exam") Экзамен
                                                                option(value="attestation") Зачет (Аттестация разделов)
                                                            .help-block
                                                .form-group
                                                    label Выберете группы
                                                    select#terminalSelect.select2.form-control(name="groups" required tabindex="-1" multiple="multiple" )
                                                      option(value="")
                                                      each group in groups
                                                          option(value="#{group.id}")= group.title


                                                .form-group
                                                    label(for="text") Дополнительное описание
                                                    textarea#description.form-control(rows="3" name="text" placeholder=""  aria-invalid="false")
                                                    .help-block
                                            .form-actions
                                                button#save.btn.btn-success.mr-1.float-xs-right(type="submit" )
                                                    //i.icon-check2
                                                    | Сохранить
                                                button#gen_test_cases_and_save.btn.btn-success.mr-1.float-xs-right(type="submit" style="display:none")
                                                    //i.icon-check2
                                                    | Сгенерировать варианты и сохранить



                        .col-md-12.col-lg-6
                            .card#settings_card(style="display:none")
                                .card-header
                                    h4.card-title.no-capitalize Настройки контрольной работы
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        form.form-horizontal#test_config(novalidate data-backdrop="static")
                                            .form-body
                                                .form-group(style="display:inline-block;width:auto")
                                                    label(for='time_limit' style="margin-right: 10px;") Ограничение по времени
                                                    input#time_limit.switchery.pull-right.no-uniform.form-control(name="time_limit" type="checkbox" data-size="xs"  style="margin-right: 10px;")
                                                .form-group(style="display:inline-block;width:auto")
                                                    input#minutes_amount.form-control(name="minutes_amount" disabled value="60" style="width:auto;display:inline-block;margin-right:10px;margin-left: 10px;")
                                                    label(for='minutes_amount' style="margin-right: 10px;") минут
                                                hr.mt-0
                                                .form-group.row#test_case_generation_type(style="min-height: 11rem;")
                                                    .btn-group(role="group")
                                                        .dropdown.mx-1
                                                            button#dropTestConfig.btn.btn-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Способы генерации вариантов
                                                            .dropdown-menu(aria-labelledby="dropTestConfig")
                                                                a.dropdown-item(value="DYN") Динамическая
                                                                a.dropdown-item(value="RND") Случайная
                                                                a.dropdown-item(value="HND") Ручная
                                                .form-group.row#test_cases_amount_row(style="display:none")
                                                    label.col-md-4(for="db_id") Количество вариантов
                                                    input.col-md-8.form-control#test_cases_amount(name="test_cases_amount" style="width:auto;display:inline-block;")
                                                    .help-block
                                                .form-group.row#questions_amount_row(style="display:none")
                                                    label.col-md-4(for="db_id") Количество вопросов в одном варианте
                                                    input.col-md-8.form-control#questions_amount(name="questions_amount" style="width:auto;display:inline-block;")
                                                    .help-block
                                                .form-group.row#mean_complexity_row(style="display:none")
                                                    label.col-md-4(for="db_id") Средняя сложность
                                                    input.col-md-8.form-control#mean_complexity(name="mean_complexity" style="width:auto;display:inline-block;")
                                                    .help-block
                                                .form-group.row#test_case_start_complexity(style='display: none;')
                                                    label.col-md-4(for="db_id") Начальная сложность
                                                    input.col-md-8.form-control#start_complexity(name="start_complexity" style="width:auto;display:inline-block;")
                                                    .help-block
                                                .form-group.row#test_case_great_complexity(style='display: none;')
                                                    label.col-md-4(for="db_id") Максимальная сложность
                                                    input.col-md-8.form-control#great_complexity(name="great_complexity" style="width:auto;display:inline-block;")
                                                    .help-block
                                                .form-group.row#test_case_less_complexity(style='display: none;')
                                                    label.col-md-4(for="db_id") Минимальная сложность
                                                    input.col-md-8.form-control#less_complexity(name="less_complexity" style="width:auto;display:inline-block;")
                                                    .help-block
                                                .form-group#test_case_repeat(style="display:none;width:auto")
                                                    label(for='manual-time-set' style="margin-right: 10px;") Вырианты без повторений вопросов
                                                    input#unique_questions.switchery.pull-right.no-uniform.form-control(name="unique_questions" type="checkbox" data-size="xs"  style="margin-right: 10px;")                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                


                    .row
                        .col-md-12
                            .card#select_db_card(style="display:none")
                                .card-header
                                    h4.card-title.no-capitalize Выбор контрольных вопросов
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        p.card-text.font-medium-1
                                            | В данном списке представлены базы данных.
                                            | Каждая база данных имеет определенный тип: универсальная или контрольная.
                                            | Контрольная работа будет составлена из вопросов к выбранной базе данных.

                                        .row
                                            .col-md-4
                                                fieldset
                                                    .form-group
                                                        label Выберете базу данных
                                                        select#selectdb.select3.form-control(name="databases" required)
                                                            option(value="")
                                                                each database in databases
                                                                    if (database.type == 'test' || database.type == 'common')
                                                                         option(value="#{database.id}")= database.title
                                                           .help-block


                     .row
                        .col-md-12.col-lg-8
                            .card#select_questions_card(style="display:none")
                                .card-header
                                    h4.card-title.no-capitalize Выбор контрольных вопросов
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        p.card-text.font-medium-1
                                            | В данном списке представлены все контрольные вопросы.
                                            | Каждый контрольный вопрос имеет определенный тип: вопрос по реляционной алгебре или по исчислению на кортежах.
                                            | Также каждый вопрос относится к определенной базе данных, название которой оторажается в таблице.

                                        .row
                                            .col-md-10
                                                fieldset
                                                    .input-group
                                                        input(type="text" class="form-control" placeholder="Поиск по названию" aria-label="Amount")
                                                        span.input-group-btn
                                                            button.btn.btn-tumblr(type="button")
                                                                i.icon-search5 
                                                                | Поиск
                                        .row.mt-2
                                            #questions_table.col-md-12
                                                //include ./../parts/pagination

                        .col-md-12.col-lg-4
                            .card#selected_questions_card(style="display:none")
                                .card-header
                                    h4.card-title.no-capitalize Отобранные контрольные вопросы
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        p.card-text.font-medium-1
                                            | В данном блоке отображены контрольные вопросы, отобранные для формирования вариантов для данной контрольной работы.
                                        #selected_questions_list_block
                                            ul#selected_questions_list.list-group.list
                                            
                                




block append footer
    if (question)
        script.
            var question = !{JSON.stringify(question)};
    else
        script.
            var question = false;


    script(src="/js/pages/check_points/add.js" type="text/javascript")

