extends ../head2

block body
    .robust-content.content.container-fluid
        .content-wrapper
            //.content-header.row
              .content-header-left.col-md-6.col-xs-12
                  h3.content-header-title.mb-0 Добавление нового контрольного мероприятия
            .content-body
                section
                    .row
                        .col-md-12.col-lg-6
                            .card
                                .card-header
                                    h4.card-title.no-capitalize Добавление нового контрольного мероприятия
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        //p.card-text.font-medium-1
                                            | Обратите внимание на то, что вопросы к обучающим и общим базам данных
                                            | доступны для студентов во время самостоятельной подготовки.
                                            | Вопросы к контрольным базам данных будут доступны студентам только во время выполнения контрольной работы.
                                            | Вопросы к персональным базам данных не будут доступны никому кроме вас

                                        form.form-horizontal#new_check_point(novalidate data-backdrop="static")
                                            .form-body
                                                .row
                                                    .col-md-6
                                                        .form-group
                                                            label(for="tag") Дата и время начала
                                                            input.form-control#date_from
                                                    .col-md-6
                                                        .form-group
                                                            label(for="db_id") Дата и время окончания
                                                            input.form-control#date_to
                                                            .help-block
                                                .row
                                                    .col-md-6
                                                        .form-group
                                                            label(for="title") Название
                                                            input.form-control#title(type="text" required name="title" aria-invalid="false" data-validation-required-message="Необходимо ввести название вопроса")
                                                            .help-block
                                                    .col-md-6
                                                        .form-group
                                                            label(for="query_type") Тип
                                                            select.form-control#query_type(name="query_type" required aria-invalid="false" data-validation-required-message="Необходимо выбрать тип вопроса")
                                                                option(value="")
                                                                option(value="test") Контрольная работа
                                                                option(value="exam") Экзамен
                                                                option(value="attestation") Зачет (Аттестация разделов)
                                                            .help-block
                                                .form-group
                                                    label(for="text") Дополнительное описание
                                                    textarea#description.form-control(rows="3" name="text" placeholder="" required aria-invalid="false" data-validation-required-message="Данное поле обязательно для заполнения")
                                                    .help-block
                                            .form-actions
                                                button.btn.btn-default.float-xs-right(type="button")
                                                    //i.icon-cross2
                                                    | Отмена
                                                button.btn.btn-success.mr-1.float-xs-right(type="submit")
                                                    //i.icon-check2
                                                    | Сохранить
                                                button#sql_answer_btn.btn.btn-info.mr-1.float-xs-right(type="button")
                                                    //i.icon-check2
                                                    | Выполнить SQL




                        .col-md-12.col-lg-6
                            .card#settings_card(style="display:none")
                                .card-header
                                    h4.card-title.no-capitalize Настройки контрольной работы
                                .card-body.collapse.in
                                    .card-block.card-dashboard
                                        .form-group.ml-1(style="display:inline-block;width:auto")
                                            label(for='manual-time-set' style="margin-right: 10px;") Ограничение по времени
                                            input#time_limit.switchery.pull-right.no-uniform(type="checkbox" data-size="xs" style="margin-right: 10px;")
                                            input#minutes_amount.form-control(disabled style="width:auto;display:inline-block;margin-right:10px;margin-left: 10px;")
                                            label(for='minutes_amount' style="margin-right: 10px;") минут
                                        hr
                                        p
                                            b Генерация вариантов для контрольной работы
                                        .form-group.row
                                            label.col-md-4(for="db_id") Количество вариантов
                                            input.col-md-8.form-control#test_cases_amount(style="width:auto;display:inline-block;")
                                            .help-block
                                        .form-group.row
                                            label.col-md-4(for="db_id") Количество вопросов в одном варианте
                                            input.col-md-8.form-control#questions_amount(style="width:auto;display:inline-block;")
                                            .help-block
                                        .form-group.row
                                            label.col-md-4(for="db_id") Выберете способ генерации вариантов
                                            input.col-md-8.form-control#questions_amount(style="width:auto;display:inline-block;")
                                            .help-block

                    .row
                        .col-md-12.col-lg-8
                            .card#select_questions_card(style="display:none")
                                .card-header
                                    h4.card-title.no-capitalize Выбор контрольных вопросов
                                .card-body.collapse.in
                                    .card-block.card-dashboard

block append footer
    if (question)
        script.
            var question = !{JSON.stringify(question)};
    else
        script.
            var question = false;

    //script(src="/robust-assets/js/components/modal/components-modal.js" type="text/javascript")

    //script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
    ////script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
    ////script(src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.min.js" type="text/javascript")
    //script(src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")

    //script( src="/robust-assets/js/core/libraries/jquery_ui/jquery-ui.min.js" type="text/javascript")
    //script( src="/robust-assets/js/plugins/tables/jsgrid/jsgrid.min.js" type="text/javascript")
    //script( src="/robust-assets/js/plugins/tables/jsgrid/griddata.js" type="text/javascript")
    //script( src="/robust-assets/js/plugins/tables/jsgrid/jquery.validate.min.js" type="text/javascript")

    //script(src="/robust-assets/js/components/forms/validation/form-validation.js" type="text/javascript")

    script(src="/js/pages/check_points/add.js" type="text/javascript")

