if (check_points.length === 0)
    p.text-muted.mt-2.text-xs-center Нет записей
else
    table.table.table-striped.table-bordered.zero-configuration
        thead
            tr
                th Название
                th Тип
                th Дата начала
                th Дата окончания
                th Управление
        tbody
            each check_point in check_points
                tr(data-id=check_point.id)
                    td= check_point.title
                    td
                        if (check_point.type === "test")
                            span.label.label-primary Контрольная работа
                        else if (check_point.type === "RA")
                            span.label.label-info Контрольная работа (алгебра)                        
                        else if (check_point.type === "TC")
                            span.label.label-info Контрольная работа (кортежи) 
                        else if (check_point.type === "exam")
                            span.label.label-info Экзамен
                        else if (check_point.type === "attestation")
                            span.label.label-info Зачет (Аттестация разделов)
                        else
                            span.label.label-danger Не задан
                    td=moment(check_point.start).format("DD.MM.YYYY HH:mm")
                    td=moment(check_point.end).format("DD.MM.YYYY HH:mm")
                    td
                        .btn-toolbar.float-xs-right(role="toolbar")
                            a.btn.btn-icon.btn-outline-info.btn-sm(style="min-width:3.5rem" href="/check_points/" + check_point.id data-toggle="tooltip" title="Подробная информация")
                                i.icon-info2
                            if (profile.permissions.CheckPoint.delete)
                                button#delete.btn.btn-icon.btn-outline-danger.btn-sm(style="min-width:3.5rem" data-toggle="tooltip" title="Удаление мероприятия")
                                    i.icon-trash2


    include ./../parts/pagination
