tbody
    tr
        td(style="width:35%") Название
        td 
            a.edit_atm.editable.editable-click(href="#" data-name="name") #{atm.name}
    tr
        td Номер
        td #{atm.id}
    tr
        td Лимит
        td
            a.edit_atm.editable.editable-click(href="#" data-name="limit") #{atm.limit}
    tr
        td Адрес
        td
            a.edit_atm.editable.editable-click(href="#" data-name="address") #{atm.address}
