if (atms.length == 0)
    p Нет банкоматов
else
    thead
        tr
            th Номер
            th Название
            th Лимит
            th
    tbody
        each atm in atms
            tr 
                td #{atm.id}
                td #{atm.name}
                td #{atm.limit}
                td
                    a.atm_info.btn.btn-info.btn-sm(data-id='#{atm.id}' title="Подробнее")
                        i.fa.fa-info
