extends ../head2

block body
    div.robust-content.content.container-fluid
      div.content-wrapper
        div.content-header.row
          div(class="content-header-left col-md-6 col-xs-12")
            h3(class="content-header-title mb-0") Контрольные вопросы
          div(class="content-header-lead col-xs-12 mt-1")
        .content-body
            section
                .row
                    .col-xs-12
                        .card
                            .card-header
                                h4.card-title Список контрольных вопросов
                            .card-body.collapse.in
                                .card-block.card-dashboard
                                    p.card-text.font-medium-1
                                        | В данном списке представлены все контрольные вопросы.
                                        | Каждый контрольный вопрос имеет определенный тип: вопрос по реляционной алгебре или по исчислению на кортежах.
                                        | Также каждый вопрос относится к определенной базе данных, название которой оторажается в таблице.

                                    .row
                                        .col-md-6
                                            fieldset
                                                .input-group
                                                    input(type="text" class="form-control" placeholder="Поиск по названию" aria-label="Amount")
                                                    span.input-group-btn
                                                        button.btn.btn-tumblr(type="button")
                                                            i.icon-search5 
                                                            | Поиск
                                        .col-md-6
                                            .form-group
                                                a.btn.btn-tumblr.btn-mid-width.mr-1.mb-1(type="button" href="/questions/add") 
                                                    i.icon-plus3 
                                                    | Добавление нового вопроса
                                    .row
                                        #questions_table.col-md-12
                                            //include ./../parts/pagination


    div(class="modal fade text-xs-left" id="mdb_2_psql" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true")
        div(class="modal-dialog" role="document")
            div(class="modal-content")
                .modal-header.bg-custom-blue-grey-2.white
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span.white(aria-hidden="true") &times;
                    h4(class="modal-title" id="myModalLabel1") 
                        i.icon-database2 
                        | Добавление новой базы данных
                .modal-body
                    //h5 Check First Paragraph
                    p.font-small-3
                        | Расширение MDB – это файл Microsoft Access, .MDB файлы были использованы в
                        | Microsoft Access до версии 2007 как основной файл базы данных. 
                        | В последних версиях Microsoft Access используются файлы баз данных .ACCDB. 
                        | Если файл .ACCDB, не содержит форм, модулей на VBA и прочих нововведений, 
                        | то его можно сохранить как файл .MDB. А также из файла .ACCDB Можно экспортировать 
                        | в новый файл, который можно будет сохранить с расширением .MDB.
                    hr
                    //h5 Some More Text
                    //p Cupcake sugar plum dessert tart powder chocolate fruitcake jelly.
                    //fieldset.form-group
                        label.custom-file.center-block.block
                              input(type="file" id="file" class="custom-file-input")
                              span.custom-file-control
                    form#export_from_mdb.form-horizontal(novalidate data-backdrop="static")
                        .form-group
                            h6 Выберете файл MS Access с расширением .mdb
                            .controls
                                input#mdb_file.form-control(type="file" name="pattern" pattern=".*\.mdb" data-validation-pattern-message="Файл должен иметь расширение '.mdb'" required aria-invalid="false")
                                .help-block
                        .form-group
                            h6 Введите название базы данных (допустимые символы: "A-Z", "a-z" и "_")
                            .controls
                                input#mdb_title.form-control(type="text" name="pattern" pattern="^[a-zA-Z_]+$" data-validation-pattern-message="Название базы может содержать только буквы латинского алфавита и символ '_'" required aria-invalid="false")
                                .help-block
                        .form-group
                            h6 Введите описание базы данных
                            .controls
                                textarea#mdb_description.form-control(name="textarea" required aria-invalid="false")
                                .help-block
                        .form-group
                            h6 Выберите тип базы данных
                            .controls
                                select#type.form-control(required name="select")
                                    option(value="") 
                                    option(value="test") Тестовая база данных 
                                    option(value="control") База данных для контрольных мероприятий
                                    option(value="private") Персональная база (доступна только вам)
                                    option(value="common") Универсальная база (доступна всем и во всех режимах)
                                .help-block

                .modal-footer
                    button#mdb_submit(type="submit" form="export_from_mdb" class="btn btn-success mr-1 ") Создать
                    button(type="reset" form="export_from_mdb" class="btn btn-danger ") Отмена

                    //hr
                        //.text-xs-right
                            button#mdb_submit(type="submit" class="btn btn-min-width btn-success mr-1 mt-1") Создать
                                //i(class="icon-thumbs-up position-right")
                            button(type="reset" class="btn btn-danger btn-min-width  mt-1") Отмена
                                //i(class="icon-refresh position-right")
                            //button(type="submit" class="btn grey btn-outline-secondary" data-dismiss="modal") Close
                            //button(type="reset" class="btn btn-outline-primary") Save changes
                //.modal-footer
                    button(type="button" class="btn grey btn-outline-secondary" data-dismiss="modal") Close
                    button(type="button" class="btn btn-outline-primary") Save changes



block append footer

    script(src="/robust-assets/js/components/modal/components-modal.js" type="text/javascript")

    script(src="/robust-assets/js/plugins/forms/spinner/jquery.bootstrap-touchspin.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/icheck/icheck.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/bootstrap-switch.min.js" type="text/javascript")
    script(src="/robust-assets/js/plugins/forms/toggle/switchery.min.js" type="text/javascript")

    script(src="/robust-assets/js/components/forms/validation/form-validation.js" type="text/javascript")
    
    //script(src="/js/pages/databases/add_db.js" type="text/javascript")
    //script(src="/js/pages/databases/index.js" type="text/javascript")
    //script(src="/js/pages/databases/db_table.js" type="text/javascript")

    script(src="/js/pages/questions/index.js" type="text/javascript")
    script(src="/js/pages/questions/_table.js" type="text/javascript")
